In [51]:
import pandas as pd
import chardet
import pickle as pk
import numpy as np
import re
from datetime import datetime

In [50]:
# 获取编码格式
def get_encoding(file):
    with open(file,'rb') as f:
        tmp = chardet.detect(f.read())
        return tmp['encoding']

In [31]:
encoding = get_encoding('data.csv')
data = pd.read_csv('data.csv', encoding=encoding)
data.head()

,职位,公司,地区,薪资,无意义,招聘描述,公司性质,公司规模,业务领域,要求
0,销售数据分析专员,家乐福广州 Gaungzhou,广州-天河区,5-8千/月,07-08,NaN,NaN,NaN,NaN,NaN
1,游戏数据分析师（全球市场）,字节跳动,深圳,1.5-3万/月,07-08,"['深圳', '3-4年经验', '本科', '招1人', '07-08发布']",['民营公司'],['10000人以上'],"['互联网/电子商务,计算机软件']",NaN
2,数据分析师（游戏）,哔哩哔哩,上海-杨浦区,1.5-2.5万/月,07-08,"['上海-杨浦区', '3-4年经验', '本科', '招1人', '07-08发布']",['上市公司'],['1000-5000人'],['互联网/电子商务'],"['1.以用户增长为导向，对数据进行深度挖掘和分析，为提升增长关键指标提供落地性建议；', ..."
3,36665-公共出行-数据分析师,深圳市腾讯计算机系统有限公司,深圳,NaN,07-08,"['深圳', '3-4年经验', '本科', '招2人', '07-08发布']",['民营公司'],['10000人以上'],['互联网/电子商务'],NaN
4,数据分析专家,饿了么,武汉-武汉经济...,1.8-2.5万/月,07-08,"['武汉-武汉经济开发区', '5-7年经验', '本科', '招1人', '07-08发布']",['民营公司'],['10000人以上'],['互联网/电子商务'],"['职责描述：', '1、负责管理数据分析团队，并做好日常管理工作；', '2、带领团队进行..."

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31035 entries, 0 to 31034
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   职位      31035 non-null  object
 1   公司      31035 non-null  object
 2   地区      31035 non-null  object
 3   薪资      30707 non-null  object
 4   无意义     31035 non-null  object
 5   招聘描述    30889 non-null  object
 6   公司性质    30889 non-null  object
 7   公司规模    30889 non-null  object
 8   业务领域    30889 non-null  object
 9   要求      28302 non-null  object
dtypes: object(10)
memory usage: 2.4+ MB

In [45]:
proc_data = data.dropna(subset=['薪资', '招聘描述'])

In [46]:
proc_data = proc_data.drop('无意义', axis=1)

In [49]:
# proc_data.to_pickle('precessed_data.pkl')

In [60]:
Split = pd.DataFrame(proc_data['薪资'])
Split

               薪资
1        1.5-3万/月
2      1.5-2.5万/月
4      1.8-2.5万/月
5        1-1.5万/月
7        1.5-2万/月
...           ...
31030      6-8千/月
31031    4.5-6千/月
31032      6-8千/月
31033      7-9千/月
31034      4-7千/月

[30585 rows x 1 columns]

In [56]:
# 薪资处理

Split=Split.replace('万/月','', regex=True)
Split=Split.replace('千/月','', regex=True)
Split=Split.replace('元/天','', regex=True)
Split=Split.replace('千以下/月','', regex=True)
Split=Split.replace('万以下/年','', regex=True)
Split=Split.replace('元/小时','', regex=True)
Split=Split.replace('万/年','', regex=True)
Split.columns = ['工资下限','工资上限']

TypeError: StringMethods.split() takes from 1 to 2 positional arguments but 3 were given